
body {
    background-image: url("https://images.pexels.com/photos/988873/pexels-photo-988873.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Open Sans Condensed', sans-serif;
}



img,
button,
div,
form,
input {
    margin: 5px;
}


p {
    text-align: center;
}

img {
    height: 200px;
    width: 250px;
}

@media screen and (max-width: 550px) {
    #images {
        padding-left: inherit;
        display: flex;
        margin: 15px;
        width: 100%;
    }
}

#favbuttons {
    padding-top: 10px;
}

#special {
    padding-top: 10px;
}

h1 {
    font-size: 65px;
}

h4 {
    font-size: 35px;
}

label {
    font-size: 20px;
    font-weight: 500;
}

button,#add-something {
    font-size: 22px;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

.artists {
    border-bottom: 5px solid black;
}

.imageitem   {
   
    border: solid black 3px;
    
}

.artists {
    width: 350px;
}